Output
Core_data.mat
Side studies
Input/Extra
Input/Weather data/old
Plot scripts
desktop.ini
*.asv
*.bak
Input/Initial state/temperature/RetMIP_temperature_IMAU_aws4.csv
Input/Initial state/density/RetMIP_density_IMAU_aws4.csv
Input/Weather data/data_KAN_U_2012-2016.txt
Input/IMAU_aws4_high-res_meteo.csv
Input/Weather data/IMAU_aws4_test_high-res_meteo.csv
